@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Oi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Raleway:wght@200&display=swap');

#viewport {
    width: device-width;
    zoom: 1.0;
}
body{
    background-color: black;
    margin: 0 0 0 0;
    font-family: 'Bungee', cursive;
}

.links{
    margin: 40px 0 0 0;
    font-size: 2rem;
    text-align: center;
    color: dodgerblue;
}

.links a { 
color: lightpink; 
padding-left: 10px;
padding-right: 10px;
text-decoration: none;
}

.image {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.Gigs {
    color: dodgerblue;
    font-size: 1.30rem;
     padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.Photos {
    padding-left: 60px;
    padding-right: 60px;
}
.Photos img {
   padding-left: 20px;
    padding-right: 20px; 
}

.contactlinks a { 
    color: lightgreen;
    font: 2rem;
    padding-left: 600px;
    padding-right: 600px;
    padding-bottom: 100px;
    padding-top: 800px;
    
}
 
.photoshoot {
    padding-top: 40px;
    padding-left: 88px;
    padding-right: 88px
}

.photoshoot img {
    border: 5px solid;
    border-color: palegreen; 
    margin-left: 10px;
    margin-right: 10px;
}
    
.info {
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    padding-left: 60px;
    padding-right: 60px;
}

.info h1 {
    color: dodgerblue;
    font-family: 'PT Serif', serif;
    
}
.info h3 {
    color: lightpink;
}

.manager {
    font-size: 1.95rem;
    margin: 50px 355px 0px 355px;
    padding-bottom: none;
}

.manager h2 {
    border: 5px solid;
    border-color: mediumpurple;
     color: dodgerblue;
   
}
    
.phone {
    font-size: 2rem;
    padding-top: 0px;
    padding-left: 600px;
    padding-right: 600px;
}

.phone a {
    color: pink;
}

.email {
    font-size: 2rem;
    padding-top: 25px;
    padding-left: 500px;
    padding-right: 500px;
}

.email a {
    color: dodgerblue;
}

.moon1 img{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}
